.hero-title {
    font-family: "Michroma", sans-serif;

    font-size: 64px;
    font-weight: 400;

    letter-spacing: 2px;

    color: #ffffff;

    margin: 0;

    text-shadow:
        0 0 8px rgba(255, 255, 255, 0.8),
        0 0 20px rgba(255, 255, 255, 0.35),
        0 0 45px rgba(120, 100, 255, 0.25);
}

.hero-title span {
    color: #7164ff;

    text-shadow:
        0 0 8px rgba(113, 100, 255, 1),
        0 0 20px rgba(113, 100, 255, 0.8),
        0 0 45px rgba(113, 100, 255, 0.55);
}